*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family:
    "Iowan Old Style",
    Palatino,
    Charter,
    Helvetica,
    Seravek,
    Helvetica Neue,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* https://positype.com/product/font/rhythm */
@font-face {
  font-family: "Rhythm";
  src: url("/fonts/Rhythm/Rhythm-One.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rhythm-Solid";
  src: url("/fonts/Rhythm/Rhythm-OneSolid.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RhythmTwo";
  src: url("/fonts/Rhythm/Rhythm-Two.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RhythmTwo-Solid";
  src: url("/fonts/Rhythm/Rhythm-TwoSolid.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
