---
import PageLayout from "../layouts/PageLayout.astro";
import { TITLES } from "../utils/constants";
---

<PageLayout title={TITLES.about}>
  <p>hi, my name is sammy samkough :)</p>
  <p>
    i was born in new jersey, usa (united states of america) on march 17 1998
    (my freckles are proof of this)
  </p>
  <p>
    i am a first-generation-born american syrian circassian (alongside with my
    brother). my parents were born in syria, and my grandparents too but
    specifically, in the golan heights. before being colonized around ~1864, my
    ancestors were born and raised somewhere in "circassia" (im pretty sure),
    which is today in russia
  </p>
  <p>
    i always struggle with how to start this sort of stuff (talking about
    myself). for some reason though, i always end up starting with this:
    <strong>i love my family</strong>. it is my main character trait, i suppose
  </p>
  <p>
    to clarify, when i say "family", i dont <em>just</em> mean blood-related family.
    i also mean my found family ; people from high school, my local commmunity, etc.
    that aren't necessarily blood-related
  </p>
  <p>
    it's hard to describe my love for my family. if i were to put it bluntly,
    you could say that i am literally <em>in love</em> with them. the feelings are
    immensely strong. i would do anything for them
  </p>
  <p>
    other than my family, i love pizza, eating food, the web (internet),
    watching movies, reading books, watching shows (aka the sopranos), playing
    soccer, adventuring / traveling, coding (specifically on the web), playing
    video games (especially with my cousins), stylizing clothing, meeting new
    people, cuddling with my mama. there's a lot more i love but those are all i
    can think of for now
  </p>
  <p>
    i've done a lot (subjective) of things that i'm proud of / want to share so
    far in my life. i guess you could call them "jobs", things that are apart of
    my "work experience". maybe i would put them on my "résumé". anyways, let me
    start with...
  </p>
  <!-- missing cba / cyc / nde stuffs -->
  <p>
    founding dot llc LOL. it's funny because it's become a meme amongst my
    friends and i, rightly so. it's a company my friend, cousin, and i started
    (three of us) in early 2017. it was essentially a software consultancy,
    where we did any and all software development: websites, apps, you name it,
    we did it. we closed in late 2018. we found ourselves just not wanting to do
    it anymore, essentially. for me personally it just wasnt fun anymore
  </p>
  <p>
    during that time, i was in university at msu (montclair state university)
    from 2016-2019, where i studied computer science. there i met some awesome
    people, and did some cool things before i left to the "american work force".
    some of the notable things i did was helped build out the computer club, did
    some research on deep learning (where i got to travel to anchorage, alaska
    for a conference), ran msu's first-ever hackathon dubbed "hawkhack",
    volunteered as a peer health advocate, went to therapy for the first time
    (for free!), and made life-long friends
  </p>
  <p>
    after that i worked as a "software engineer" (outside of internships) in
    multiple different situations. in some of those situations i was a "web
    developer". and more specifically, working as a "full-stack engineer", where
    i focused on the "backend" and the "frontend". but later and most recently
    focusing on the "frontend". in other situations, i was a "mobile developer".
    i worked with "cross-platform frameworks / languages" in some of those
    situations, using react native or flutter. in only one other, i used swift.
    that opportunity specifically opened my eyes to the "beauty" and "clarity"
    of programming
  </p>
  <p>
    i worked as a "software engineer" not only as my "main career" but also
    taking on several contracting jobs (at the same time), which i gained
    immense amounts of experience from. experience in programming, of course,
    but also in the "business world", talking and working with different people,
    figuring out what i do and dont like in "work", all that. they were some
    extremely stressful times, sometimes juggling three different "jobs" at
    once. this would lead to extreme burn out where i not only failed at doing
    these jobs adequately, but also failed at being a loving family member,
    friend, etc.
  </p>
  <p>
    i started to <em>actually <strong>love</strong></em> programming and the internet
    at large in my latest job where i was working as a "frontend web developer".
    i started to not only program differently but be much, much more meta and thoughtful
    about it <em>all</em>. not only in learning new technologies, but also in
    the way that i programmed, i started to form opinions on it. how should we
    architect this? are we sure we want to go in that direction? is it fine to
    use state machines in this scenario, or is that going overboard? is react
    really morally fine to use? wait, our website isnt accessible at all! all of
    these thoughts started to culminate again, in this most recent job (thank
    you to all the blogs i learn from!)
  </p>
  <p>
    this "software engineer" path though ceased in july 2023. after a few weeks,
    i traveled for two months to argentina, one of the best decisions of my
    life. i met some of the nicest, sweetest, incredible people i have ever met
    in my entire life, that come from all walks of life. i went on incredible
    adventures with them, like doing 7 hour road trips back-to-back-to-back, or
    walking on a slippery port to see the beauty of the rain. i learnt so much
    about argentina's culture, history, modern-day vibes, and of course so much
    more. like it's roots in being colonized, and what it even
    <strong>means</strong> to be "colonized" (shout out gsp (global studies programme))
  </p>
  <p>
    all of that beauty, to then coming back to america where the world has
    changed forever with the most recent attacks on the palestinian peoples.
    this changed the direction of my life. i have always wanted to be an
    activist for causes i believed in, but never really knew "how". and with
    this situation, i saw some of the most beautiful things come out of it,
    mainly being:
    <strong>people standing up to help liberate those that are oppressed</strong
    >. and so i've joined in, in being one of those people (i hope), and am
    trying everything i could do to help. whether that's educating myself on the
    situation, educating those around me that dont know about the situation,
    helping any digital efforts that are in need related to helping the
    oppressed peoples. and just so. much. more.
  </p>
  <p>
    i am not entirely sure what the future is going to look like for me. but all
    i do know is that i am <strong>not</strong> going back to doing things that are
    against my moral code. i am done with lying to myself, torturing myself by working
    for corporations that care for nothing but money, that have no humanity. i want
    to help humanity, and the least <em>i can do</em> is by not working for these
    greedy, inhumane bastards. and it makes me feel relieved to feel this way. to
    have the opportunity and privelige to not have to do that.
  </p>
  <p>and so with that, if you made it this far, hi, again :)</p>
  <p>
    thank you. i appreciate you reading this far, it truly means a lot. i hope
    you were able to learn a little bit (more) <em>about me</em>. i love you,
    and wish you well <3
  </p>
  <figure>
    <img
      src="/me-and-mama.png"
      alt="me as a toddler on my mom's lap wearing cool shades"
      width="300"
      height="220"
    />
    <figcaption>mama and i <3</figcaption>
  </figure>
  <time datetime="2023-12-07T7:03"
    >last updated: 2023-12-07 at 7:03 (local)</time
  >
  <h3>past abouts</h3>
  <p>
    i update this page frequently, so i thought it would be worth it to save
    past significant "abouts" in their own pages.
  </p>
  <p>there are none so far!</p>
</PageLayout>

<style>
  p {
    line-height: 1.8em;
  }
</style>
