---
import PageLayout from "../layouts/PageLayout.astro";
import { TITLES } from "../utils/constants";
---

<PageLayout title={TITLES.colophon}>
  <ul>
    <li>github</li>
    <li>netlify</li>
    <li>astro.js (version 4)</li>
  </ul>
</PageLayout>
