---
import PageLayout from "../layouts/PageLayout.astro";
import { TITLES } from "../utils/constants";
---

<PageLayout title={TITLES.colophon}>
  <ul>
    <li>github</li>
    <li>netlify</li>
    <li>astro.js (version 4)</li>
  </ul>

  <br />

  <p>
    <a href="https://maggieappleton.com/colophon">maggie appleton's colophon</a> is
    pretty rad
  </p>
</PageLayout>
