---
import PageLayout from "../layouts/PageLayout.astro";
import ConsumesList from "../components/ConsumesList.astro";
import { CONSUMES, TITLES } from "../utils/constants";
---

<PageLayout title={TITLES.consumes}>
  <p>
    <strong>consumes</strong> is art that i "consume", for lack of a better word.
  </p>
  <p>
    to note, i may change the term "consume" to something else. but for now it's
    this.
  </p>

  <h3>table of contents</h3>
  <ul>
    <li><a href="#current">current</a></li>
    <li><a href="#past">past</a></li>
  </ul>

  <hr />

  <h2 id="current">current</h2>
  <p>here are things i currently / recently consumed:</p>
  <ConsumesList isRecent consumes={CONSUMES} />

  <br />

  <h2 id="past">past</h2>
  <p>here are notable things ive consumed in the past:</p>
  <ConsumesList isRecent={false} consumes={CONSUMES} />
</PageLayout>

<style>
  hr {
    margin-block: 1em;
  }
</style>
