---
import PageLayout from "../layouts/PageLayout.astro";
import { TITLES } from "../utils/constants";
---

<PageLayout title={TITLES.contact}>
  <p>
    you can contact me at my <a href="mailto:sammysamkough@gmail.com">email</a>
  </p>
  <p>
    here are my other accounts on the web. anything else ain't me (or i forgot
    about 'em):
  </p>
  <ul>
    <li><a href="https://github.com/ssamkough">github</a></li>
    <li><a href="https://www.linkedin.com/in/ssamkough/">linkedin</a></li>
  </ul>
</PageLayout>
