---
import BonnySystems from "../components/BonnySystems.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { TITLES } from "../utils/constants";
---

<PageLayout title={TITLES.works}>
  <p>
    currently working as a founding engineer at <a href="https://phia.com/"
      >phia</a
    >
  </p>
  <p>
    my personal consulting shop <BonnySystems />
  </p>
  <p>
    for a generic resume: <a href="https://cv.sammy.pizza">cv.sammy.pizza</a>
  </p>
</PageLayout>

<style>
  .bonny-text {
    color: #d66cd3;
  }

  .systems-text {
    color: #56d595;
  }
</style>
