---
import type { Arts, ArtStatus } from "../utils/types";

interface Props {
  arts: Arts;
  status: ArtStatus;
}

const { arts, status } = Astro.props;
---

<ul>
  {
    arts.map((obj) => {
      const key = Object.keys(obj)[0];
      const items = Object.values(obj)[0];
      return (
        <div>
          <li>{key}</li>
          <ul>
            {items
              .filter((item) => item.status === status)
              .map((item) => (
                <li>
                  {item?.link ? <a href={item.link}>{item.name}</a> : item.name}
                </li>
              ))}
          </ul>
        </div>
      );
    })
  }
</ul>
