<a href="https://bonny.systems" class="rhythm-text">
  <span class="bonny-text">bonny</span>{" "}<span class="systems-text"
    >systems</span
  >
</a>

<style>
  a {
    font-size: 1.4em;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
</style>
