---
import type { Consumes } from "../utils/types";

interface Props {
  consumes: Consumes;
  isRecent: boolean;
}

const { consumes, isRecent } = Astro.props;
---

<ul>
  {
    consumes.map((obj) => {
      const key = Object.keys(obj)[0];
      const items = Object.values(obj)[0];
      return (
        <div>
          <li>{key}</li>
          <ul>
            {items
              .filter((item) => item.is_recent === isRecent)
              .map((item) => (
                <li>
                  {item?.link ? <a href={item.link}>{item.name}</a> : item.name}
                </li>
              ))}
          </ul>
        </div>
      );
    })
  }
</ul>
