---
type ConsumeCategory =
  | "books"
  | "movies"
  | "music"
  | "podcasts"
  | "shows"
  | "video games";

interface ConsumeItem {
  name: string;
  is_recent: boolean;
  link?: string | null;
  start_date?: string | null;
  end_date?: string | null;
}

export type Consumes = Array<
  Partial<Record<ConsumeCategory, Array<ConsumeItem>>>
>;

interface Props {
  consumes: Consumes;
  isRecent: boolean;
}

const { consumes, isRecent } = Astro.props;
---

<ul>
  {
    consumes.map((obj) => {
      const key = Object.keys(obj)[0];
      const items = Object.values(obj)[0];
      return (
        <>
          <li>{key}</li>
          <ul>
            {items
              .filter((item) => item.is_recent === isRecent)
              .map((item) => (
                <li>
                  {item?.link ? <a href={item.link}>{item.name}</a> : item.name}
                </li>
              ))}
          </ul>
        </>
      );
    })
  }
</ul>
