---
import { NAVIGATION } from "../utils/constants";
import type { TitleProps } from "../utils/types";

interface Props extends TitleProps {}

const { title: pageTitle } = Astro.props;
---

<nav>
  {
    NAVIGATION.map(({ path, title, color, backgroundColor }) => (
      <a
        href={path}
        class={pageTitle === title ? "active" : ""}
        style={`color: ${color}; background-color: ${backgroundColor}`}
      >
        {title}
      </a>
    ))
  }
</nav>

<style>
  nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  a {
    color: rgb(1, 1, 1);
    font-size: 1.6em;
    width: 100%;
  }
  a:hover {
    opacity: 0.6;
  }
  a.active {
    color: red;
  }
</style>
