---
import type { TitleProps } from "../utils/types";
import Layout from "./Layout.astro";

interface Props extends TitleProps {}

const { title } = Astro.props;
---

<Layout title={title}>
  <main>
    <slot />
  </main>
</Layout>

<style>
  main {
    padding: 10px;
  }
</style>
