---
import type { TitleProps } from "../utils/types";
import Layout from "./Layout.astro";

interface Props extends TitleProps {
  hidePinkSquare?: boolean;
}

const { title, hidePinkSquare } = Astro.props;
---

<Layout title={title} hidePinkSquare={hidePinkSquare}>
  <main>
    <slot />
  </main>
</Layout>

<style>
  main {
    padding: 10px;
  }
</style>
