---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import type { TitleProps } from "../utils/types";
import Layout from "./Layout.astro";

interface Props extends TitleProps {}

const { title } = Astro.props;
---

<Layout title={title}>
  <Header title={title} />
  <main>
    <h1>{title}</h1>
    <slot />
  </main>
  <hr />
  <Footer title={title} />
</Layout>

<style>
  main {
    padding: 10px;
  }
</style>
